@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    height: 200vh;
    margin: 0;
    background-color:seashell;
}
header{
    background-color: hotpink;
    padding-top: 60px;
    text-align: center;
    margin:0;
    
}
h1{ color:white;
    font-size:70px;

}


nav {
    display:flex;
    flex:1;
    margin: 0;
    justify-content:center;
   
  }
  nav ul {
    list-style: none;
    display: flex;
    
    flex: 1;
    top: 0;
    position: fixed;
  z-index:99;
  
  }
  
  nav a {
    color:rgb(255, 0, 195);
    text-decoration:none;
    font-size: medium;
    text-align: center;
    padding: 10px 30px;
    
    border-radius: 30px; 
    background-color:rgb(250, 212, 233);
    
  }
  
  nav a:hover{
    color:white;
    background-color:orange;
    padding: 10px 30px;
    border-radius: 30px; 

  }
  

h3{
    font-size:40px;
    text-decoration-color:blanchedalmond;
    margin: auto;
}
.date{
    font-size: small;
    text-decoration: none;
    padding: 10px 0px 0px 0px;
    margin: auto;
}
section {
    background-color: white;
    border: 7px dotted pink;
    border-radius: 15px;
    margin: 30px 80px 50px 80px;
    padding: 30px;
}
 
.box {
    margin:20px ;
    display: inline-block;
    border: 30px solid coral;
    padding: 20px;
    position:relative

  }
footer {
    position:relative;
    display: block;
    color:hotpink;
    padding: 10px 100px;
    text-align: center;
    background-color: white;

}


img {
    width: 50%;
    padding: 10px 0px;
    box-sizing: border-box;
    
    
  }

article {
    display: inline-block;
    
  }
p{
    width: 50%;
  }

a{
color:hotpink;
text-decoration:underline dotted;

}
a:hover{
    background-color: rgb(250, 255, 219);
    padding: 5px;
    border-radius: 40px;
}
.redo-website{ 
    display: flex;
    flex:1;
}
main.parent {
    display: flex;
    flex-wrap: wrap;
}
article.left { flex:50%;}
article.right { flex:50%;}

.two-cols img{
    width:100%;

}
.two-cols p{
    width: 100%;
}


.caava{
  display: flex;
  flex-wrap: wrap;
}