@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    border: 10px solid rgb(0, 102, 255);
    height: 150vh;
    margin: 0;
}
header {
    color:rgb(240, 141, 204);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font: size 60px;
    text-align: center;
    padding: 20px;

}
section {
    color:rgb(246, 177, 230);
    font-family: 'Courier New', Courier, monospace;
    display: block;
    
}
div {
    display: inline-block;
    
    border: 2px solid coral;
    margin: 50px;
    padding: 20px;

  }
aside {
    

}
