h1 {
color:thistle;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font: size 60px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}