@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    font-size: medium;
}
h1 {
color:rgb(240, 141, 204);
font-family:Verdana, Geneva, Tahoma, sans-serif;
font: size 60px;
margin-left: 500px;
margin-top: 50px;
}
h2 {
    color:rgb(246, 177, 230);
font-family: 'Courier New', Courier, monospace;
margin-left: 570px;
}
h3 {
    margin-left: 30px;
    color: rgb(255, 182, 229);
}
body {
    
    margin-left: 50px;
}
p {
   font-size:smaller;
   margin-left: 30px;
}
.img { 
    max-width:100px;
    
}