

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&family=Quicksand:wght@500;600&display=swap');




/* font-family: 'Oswald', sans-serif;
font-family: 'Quicksand', sans-serif; */

*{box-sizing:border-box;}
html {
  scroll-behavior: smooth;
}

body {
margin:0;
color:white;
font-family: 'Quicksand', sans-serif;
}

nav {
  display:flex;
  flex: 1;
  margin: 0px 40px;
  justify-content:flex-end;
 
}
nav ul {
  list-style: none;
  display: flex;
  flex: 1;
  top: 0;
  position: fixed;
z-index:99;

}

nav a {
  color:blue;
  text-decoration:none;
  font-size: larger;
  text-align: center;
  width: auto;
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 30px; 
  background:white;
  
}

nav a:hover{
  color:white;
  background-color:blue;
}

#star{
  width:80px;
  margin:10px 30px;
  position: fixed;
  z-index:99;
}
#star:hover{

  /*jiggle*/
}
header {
  width:100vw;
  height: 100vh;
  margin:0;
  background-color:#ff5c00;
  
}

.mainheader {
  font-family: 'Oswald', sans-serif;
  color: white;
  position: relative;
  letter-spacing: -30px;
  font-size: 600px;
  margin: 0px;
  
 
}
h2{
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 60px;
  color: #fff;
  position: absolute;
  margin: 150px 100px;
  
}
h3{
  font-family: 'Oswald', sans-serif;
  font-size: larger;
  margin:0;
  text-align: center;
  position:relative;
  

}

h1{
  display: flex;
  position: relative;
  border:1px solid #3300ff;
  transform: rotate(-90deg);
  transform-origin: center;
  height: min-content;
  font-size: 200px;
  text-align: center;
  margin:0;
}

section{
  width:100vw;
  height: 100vh;
  margin:0;
  
}
/*sections*/

.reggaeton {
  position:relative;
  background-color: #fff500;
  display: flex;
}
.oldies{
  position:relative;
  background-color:#bd00ff;
  display: flex;
}
.pop{
  position:relative;
  background-color:#3300ff;
  display: flex;
  
}
.indie{
  position:relative;
  background-color:#d4ef2d;
  display: flex;
  
}

/*CONTENT SHOW*/

.show {
    opacity:1;
}

img{
  max-width: 500px;
  height:fit-content;

}
div{
  display: flex;
  flex-wrap: wrap;
}
/*ARTIST POSITIONS*/

.jblavin {
  position: relative;
  flex: 1;
  display: block;
  width: 100%;
  height: auto;
}
.jbalvin-content{
  position: relative;
  flex: 1;
  display: block;
  width: 100%;
  height: auto;
}
.daddyyankee {
  position: relative;
  flex:1;
  display: block;
  width: 100%;
  height: auto;
}
.daddyyankee-content {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}
.ozuna {
  position: relative;
  flex:1;
  display: block;
  width: 100%;
  height: auto;
}
.ozuna-content {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

.louis {
  position: relative;
  flex: 1;
  display: block;
  width: 100%;
  height: auto;
}
.supremes {
  position: relative;
  flex: 1;
  display: block;
  width: 100%;
  height: auto;
}
.beegees{
  position: relative;
  flex: 1;
  display: block;
  width: 100%;
  height: auto;
}


.britney {
  position: relative;
  flex: 1;
  display: block;
  width: 100%;
  height: auto;
}
.avril {
  position: relative;
  flex: 1;
  display: block;
  width: 100%;
  height: auto;
}
.jason {
  position: relative;
  flex: 1;
  display: block;
  width: 100%;
  height: auto;
}


.cage {
  position: relative;
  flex: 1;
  display: block;
  width: 100%;
  height: auto;
}
.blackkeys {
  position: relative;
  flex: 1;
  display: block;
  
}
.ziggy {
  position: relative;
  flex: 1;
  display: block;
  width: 100%;
  height: auto;
}


footer {
  width: 500px;
  position:relative;
  margin:0% 40%;
   color:#ff5c00;
   padding: 10px 20px;
   text-align: center;
  border-radius: 50%;
  border: 1px solid #ff5c00;
  z-index: 99;
        

}

