@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&family=Quicksand:wght@500;600&display=swap');

/* font-family: 'Oswald', sans-serif;
font-family: 'Quicksand', sans-serif; */

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  display:block;
  margin: 0;
  padding:0;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

nav {
  display: flex;
  flex: 1;
  margin: 0px 40px;
  justify-content: flex-end;
}
nav ul {
  list-style: none;
  display: flex;
  flex: 1;
  top: 0;
  position: fixed;
  z-index: 99;
}

nav a {
  color: blue;
  text-decoration: none;
  font-size: larger;
  text-align: center;
  width: auto;
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 30px;
  background: white;
}

nav a:hover {
  color: white;
  background-color: blue;
}

#star {
  width: 80px;
  margin: 10px 30px;
  position: fixed;
  z-index: 99;
}
#star:hover {
  /*jiggle*/
}
.star2 {
  width: 70px;
  height: min-content;
  position: relative;
}
.star-big {
  width: 100px;
  height: min-content;
  position: relative;
}

header {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #ff5c00;
}

.mainheader {
  font-family: 'Oswald', sans-serif;
  color: white;
  position: relative;
  letter-spacing: -30px;
  margin: 0px;
  padding-top: 80px;
}
h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 60px;
  color: #fff;
  position: absolute;
  margin: 150px 100px;
}
h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  margin: 0;
  text-align: center;
  
}
.disc {
  width: 500px;
}


section {
  width:100vw;
  height: 100vh;
  position: relative;
  margin: 0;
  padding:0;
  
}
/*h1.other {
  display: flex;
  position: relative;
  font-family: 'Oswald', sans-serif;
  transform: rotate(-90deg);
  transform-origin: left;
  font-size: 200px;
  text-align: left;
  margin-top: 900px;
  margin-left: 150px;
  margin-bottom: 0px;
  z-index: 10;
}*/

.reggaeton h1 {

  font-family: 'Oswald', sans-serif;
  transform: rotate(-90deg);
  font-size: 120px;
  text-align: left;
  margin: 600px 50px 200px 50px;
  z-index: 10;
}

.oldies h1 {
  font-family: 'Oswald', sans-serif;
  transform: rotate(-90deg);
  font-size: 120px;
  text-align: left;
  margin: 600px 50px 200px 50px;
  z-index: 10;
}

.pop h1 {
  font-family: 'Oswald', sans-serif;
  transform: rotate(-90deg);
  font-size: 120px;
  text-align: left;
  margin: 600px 50px 200px 50px;
  z-index: 10;
}

.indie h1 {
  font-family: 'Oswald', sans-serif;
  transform: rotate(-90deg);
  font-size: 120px;
  text-align: left;
  margin: 600px 50px 200px 50px;
  z-index: 10;
}



/*sections*/

#reggaeton {
  background-color: #fff500;
}
#oldies {
  background-color: #bd00ff;
}
#pop {
  background-color: #3300ff;
}
#indie {
  background-color: #d4ef2d;
}

/*CONTENT SHOW*/

.content {
  position: absolute;
  z-index: 99;
  bottom: 100px;
  left: 100px;
}
.hide {
  display: none;
}

img {
  width: 500px;
  height: auto;
}
:root {
  --animate-delay: 2s;
}

/*ARTIST POSITIONS*/

.jbalvin {
  position: absolute;
  top: 100px;
  left: 40px;
}

.daddyyankee {
  position: absolute;
  top: 600px;
  left: 1200px;
}

.ozuna {
  position: absolute;
  top: 20px;
  left: 600px;
}

.louis {
  position: absolute;
  top: 20px;
  left: 600px;
}
.supremes {
  position: absolute;
  top: 20px;
  left: 600px;
}
.beegees {
  position: absolute;
  top: 20px;
  left: 600px;
}

.britney {
  position: absolute;
  top: 20px;
  left: 600px;
}
.avril {
  position: absolute;
  top: 20px;
  left: 600px;
  
}
.jason {
  position: absolute;
  top: 20px;
  left: 600px;
  
}

.cage {
  position: absolute;
  top: 100px;
  left: 40px;
  
}
.blackkeys {
  position: absolute;
  top: 20px;
  left: 600px;  
}
.ziggy {
  position: absolute;
  top: 20px;
  left: 600px;  
}

footer {
  width: 500px;
  position: relative;
  margin: 0% 40%;
  color: #ff5c00;
  padding: 10px 20px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ff5c00;
  z-index: 99;
}








@media screen and (max-width: 868px) {
  body {
    background-color: lightgreen;
  }
  section {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: visible;
    height:fit-content;
  }

  .content {
    position: absolute;
    z-index: 99;
    bottom: 50px;
    left: 50px;
  }
  .hide {
    display: none;
  }
  
  .disc {
    position: static;
    flex: 1;
    width: 200px;
  }
  .star {
    top: 30px;
    left: 30;
  }
  .reggaeton h1 {
    font-size: 80px;
    transform: rotate(0deg);
  }
  .oldies h1 {
    font-size: 80px;
    transform: rotate(0deg);
  }
  .pop h1 {
    font-size: 80px;
    transform: rotate(0deg);
  }
  .indie h1 {
    font-size: 80px;
    transform: rotate(0deg);
  }
}
