@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&family=Quicksand:wght@500;600&display=swap');

/* font-family: 'Oswald', sans-serif;
font-family: 'Quicksand', sans-serif; */

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
html {
  scroll-behavior: smooth;
}

button{
  background-color:white;
  border:1px solid black;
  z-index: 99;
  border-radius: 50%;
  width:100px;
  color: #ff5c00;
  font-weight: 600px;
  padding: 20px;
  position: fixed;
  margin:650px 2000px 0 15px;
  
}
button:hover{
  background-color:#d4ef2d;
}


body {
  margin:0;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

nav {
  display: flex;
  flex: 1;
  margin: 0px 40px;
  justify-content: flex-end;
}
nav ul {
  list-style: none;
  display: flex;
  flex: 1;
  top: 40px;
  position: fixed;
  z-index: 99;
}

nav a {
  color: blue;
  text-decoration: none;
  font-size: larger;
  text-align: center;
  width: auto;
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 30px;
  background: white;
}

nav a:hover {
  color: white;
  background-color: blue;
}

#star {
  width: 100px;
  margin: 10px 30px;
  position: fixed;
  top:20px;
  z-index: 99;
}

.star2 {
  width: 80px;
  height: min-content;
  position: relative;
}
.star-big {
  width: 100px;
  height: min-content;
  position: relative;
}

header {
  width: 100vw;
  height: 100vh;
  background-color: #ff5c00;
}

.mainheader{
  font-size:1000px;
  font-family: 'Oswald', sans-serif;
  color: white;
  position: relative;
  letter-spacing: -30px;
  margin: 0px;
  padding-top: 60px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 60px;
  color: #fff;
  position: absolute;
  margin: 150px 100px 80px 100px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  
}
.disc {
  width: 500px;
}

p{
  font-size: medium;
}

/* HEADINGS */

h1{
  margin: 0px;
  position: relative;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: 'Oswald', sans-serif;
  font-size: 200px;
  text-align: center;
  z-index: 10;

}


/*sections*/

section {
  width:100%;
  height:100vh;
  position: relative;
}

#reggaeton {
  background-color: #fff500;
}
#oldies {
  background-color: #bd00ff;
}
#pop {
  background-color: #3300ff;
}
#indie {
  background-color: #d4ef2d;
}

/*CONTENT SHOW*/

.content {
  position: absolute;
  z-index: 99;
  bottom: 100px;
  left: 150px;
  font-weight: 700;
  color:white;
  border: 1px solid white;
  text-align: center;
  border-radius: 30px;
  padding:20px;
  background: rgba(0, 0, 0, 0.5); 
width: 100%;
transition: .5s ease;
opacity:0;

}
.content:hover{
  opacity:1;
}

audio{
  width: 100px;
  text-align: center;
}

.hide {
  display: none;
}

img {
  width: 500px;
  height: auto;
}
:root {
  --animate-delay: 2s;
}

/*ARTIST POSITIONS*/

.jbalvin {
  position: absolute;
  top: 100px;
  left: 40px;
}

.daddyyankee {
  position: absolute;
  top: 600px;
  left: 1700px;
}

.ozuna {
  position: absolute;
  top: 20px;
  left: 600px;
}

.louis {
  position: absolute;
  top: 20px;
  left: 600px;
}
.supremes {
  position: absolute;
  top: 20px;
  left: 600px;
}
.beegees {
  position: absolute;
  top: 20px;
  left: 1700px; 
}

.britney {
  position: absolute;
  top: 20px;
  left: 30px;
}
.avril {
  position: absolute;
  top: 20px;
  left: 600px;
  
}
.jason {
  position: absolute;
  top: 200px;
  left: 1200px;
  
}

.cage {
  position: absolute;
  top: 100px;
  left: 40px;
  
}
.blackkeys {
  position: absolute;
  top: 100px;
  left: 600px;  
}
.ziggy {
  position: absolute;
  top: 400px;
  left: 1700px;  
}

footer {
  width: 500px;
  position: relative;
  margin: 0% 40%;
  color: #ff5c00;
  padding: 10px 20px 20px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ff5c00;
  z-index: 10;
}




@media screen and (max-width: 2560px){
section{
  width:100vw;
  height:100vh;
  margin:0;
}
.disc{
  width:100px;
}

.mainheader{
  font-size: 480px;
}
h1{
  font-size: 80px;
  padding-top: 10px;
}


.content {
  position: absolute;
  z-index: 99;
  bottom: 100px;
  left: 150px;
  width:200px;
  font-weight: 700;
  color:white;
  border: 1px solid white;
  text-align: center;
  border-radius: 30px;
  padding:20px;
}

audio{
  width: 100px;
  text-align: center;
}

/* DISCS */
.jbalvin {
  position: absolute;
  top: 200px;
  left: 10px;
}

.ozuna {
  position: absolute;
  top: 60px;
  left: 475px;
}
.daddyyankee {
  position: absolute;
  top: 200px;
  left: 920px;
}



.louis {
  position: absolute;
  top: 10px;
  left: 20px;
}
.supremes {
  position: absolute;
  top: 175px;
  left: 475px;
}
.beegees {
  position: absolute;
  top: 5px;
  left: 920px; 
}

.britney {
  position: absolute;
  top: 5px;
  left: 30px;
}
.avril {
  position: absolute;
  top: 40px;
  left: 900px;
}
.jason {
  position: absolute;
  top: 200px;
  left: 450px;
}

.cage {
  position: absolute;
  top: 10px;
  left: 5px;
  
}
.blackkeys {
  position: absolute;
  top: 200px;
  left: 475px;  
}
.ziggy {
  position: absolute;
  top: 40px;
  left: 950px;  
}  

}
  


/*MOBILE*/

@media screen and (max-width: 768px) {
  
  section {
    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow: visible;
  }

  .mainheader{
    font-size: 150px;
    letter-spacing: -5px;
    font-family: 'Oswald', sans-serif;
    color: white;
    position: relative;
    margin: 0px;
    padding-top: 420px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: #fff;
    position: absolute;
    margin: 400px 50px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
  }

  nav {
    display: flex;
    flex: 1;
    margin: 0 40px;
    justify-content: center;
  
  }
  nav ul {
    list-style: none;
    display: flex;
    flex: 1;
    position: fixed;
    z-index: 99;
  }
  #star{
    position: fixed;
    justify-content: center;

    z-index: 99;
  }
  
  nav a {
    color: blue;
    text-decoration: none;
    font-size: larger;
    text-align: center;
    width: auto;
    padding: 10px 30px;
    border: 1px solid black;
    border-radius: 30px;
    background: white;
  }
  


  .content {
    position: absolute;
    z-index: 99;
    bottom: 50px;
    left: 40px;
    font-weight: 700;
    color:white;
    border: 1px solid white;
    text-align: center;
    border-radius: 30px;
    padding:15px;
    background: rgba(0, 0, 0, 0.5); 
    width: 80%;
    transition: .5s ease;
    opacity:0;
  
  }
  .content:hover{
    opacity:1;
  }
  
  audio{
    width: 100px;
    text-align: center;
  }
  
  .hide {
    display: none;
  }
  
  
  .disc {
    position: static;
    flex: 1;
    width: 200px;
  }
  
  .reggaeton h1 {
    font-size: 80px;

  }
  .oldies h1 {
    font-size: 80px;
  }
  .pop h1 {
    font-size: 80px;
  }
  .indie h1 {
    font-size: 80px;
  }
}
