

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&family=Quicksand:wght@500;600&display=swap');




/* font-family: 'Oswald', sans-serif;
font-family: 'Quicksand', sans-serif; */

*{box-sizing:border-box;}
html {
  scroll-behavior: smooth;
}

body {
margin:0;
color:white;
font-family: 'Quicksand', sans-serif;
}

nav {
  display:flex;
  flex: 1;
  margin: 0px 40px;
  justify-content:flex-end;
 
}
nav ul {
  list-style: none;
  display: flex;
  flex: 1;
  top: 0;
  position: fixed;
z-index:99;

}

nav a {
  color:blue;
  text-decoration:none;
  font-size: larger;
  text-align: center;
  width: auto;
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 30px; 
  background:white;
  
}

nav a:hover{
  color:white;
  background-color:blue;
}

.star{
  width:80px;
  margin:10px 30px;
  position: fixed;
  z-index:99;
}
.star:hover{

  /*jiggle*/
}
header {
  width:100vw;
  height: 100vh;
  margin:0;
  background-color:coral;
  background-size: cover;
  background-repeat: no-repeat;
}

header h1 {
   
  font-family: 'Oswald', sans-serif;
  color: white;
  position: absolute;
  letter-spacing: -30px;
  font-size: 470px;
  margin:50px 50px;
 
}
.reg-head{
  font-family: 'Oswald', sans-serif;
  color: white;
  position: relative;
  transform: rotate(-90deg);
  font-size: 80px;
  align-items: center;
  justify-content: left;
}
header h2{

 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 60px;
  color: #fff;
  position: absolute;
  margin: 150px 100px;
  
}
h3{
  font-family: 'Oswald', sans-serif;
  font-size: larger;
  margin:0;

}
p{
  font-size: medium;
}

section{
  height:100vh;
  
}
.reggaeton {
  position:relative;
  background-color:blue;
}
.oldies{
  position:relative;
  background-color:rgb(251, 98, 98);
}
.pop{
  position:relative;
  background-color:rgb(118, 98, 251);
}
.indie{
  position:relative;
  background-color:gold;
}

.artist1, .artist2, .artist3, .artist4 {
    width:500px;
    height:300px;
    border-radius: 50%;
    position: relative;
    display: flex;
   
}.artist1 {

    background:rgb(251, 98, 172);
}
.artist1-content {
  position:absolute;
  top:320px;
  left:0;
  margin:10px 80px;
    width:300px;
    opacity:0;
    z-index:9;
}
.artist2 {
  
    background:rgb(185, 63, 250);
}

.artist2-content {
  position:absolute;
  top:320px;
  left:0;
  margin:10px 80px;
    width:300px;
    opacity:0;
    z-index:9;
}
.artist3 {
    
    background:gold;
}
.artist3-content {
  position:absolute;
  top:320px;
  left:0px;
  width:200px;
  opacity:0;
  z-index:9;
}
.artist4 {
  
  background:greenyellow;
}

.artist4-content {
position:absolute;
top:320px;
left:0;
margin:10px 80px;
  width:300px;
  opacity:0;
  z-index:9;
}

.show {
    opacity:1;
}
.reggaeton .artist1 {
  position: absolute;
  top:10%;
  left:5%;
}
.reggaeton .artist2 {
  position: absolute;
  top:50%;
  left:30%;
}
.reggaeton .artist3 {
  position: absolute;
  bottom:20%;
  right:10%;
}
.oldies .artist1 {
  position: absolute;
  top:5%;
  left:5%;
}
.oldies .artist2 {
  position: absolute;
  top:30%;
  left:40%;
}
.oldies .artist3 {
  position: absolute;
  bottom:10%;
  right:10%;
}
.pop .artist1 {
  position: absolute;
  top:5%;
  left:5%;
}
.pop .artist2 {
  position: absolute;
  top:20%;
  left:40%;
}
.pop .artist3 {
  position: absolute;
  bottom:30%;
  right:50%;
}
.pop .artist4 {
  position: absolute;
  bottom:10%;
  right:10%;
}
.indie .artist1 {
  position: absolute;
  top:5%;
  left:5%;
}
.indie .artist2 {
  position: absolute;
  top:30%;
  left:40%;
}
.indie .artist3 {
  position: absolute;
  bottom:10%;
  right:10%;
}


footer {
  width: 500px;
  position:relative;
  margin:0% 40%;
   color:orange;
   padding: 10px 20px;
   text-align: center;
  border-radius: 50%;
  border: 1px solid orange;
  z-index: 99;
        

}

