@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;800&family=Oswald:wght@300;500;700&family=Prompt:ital,wght@0,100;0,500;0,900;1,100;1,500;1,800&family=Quicksand:wght@500;600&family=Seymour+One&display=swap');
/*
font-family: 'Manrope', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Seymour One', sans-serif;
*/
*{box-sizing:border-box;}

html {
  scroll-behavior: smooth;
}

body{
    margin:0;
    font-family: 'Manrope', sans-serif; 
    background-color: black;
    color: white;
}

section{
  height: 100vh;
  margin: 50px 0;
  position:relative;
  
}

h1{
  display:flex;
  justify-content: center;
}
p{
    position: relative;
    width: 500px;
    margin:auto;
}

ul{
    text-decoration: none;
    list-style: none;
    
}

img{
  width: 500px;
}


h4{
  margin:10px 0 5px 0;
}


/* NAV BAR */

.nav{
    display:flex;
    flex: 1;
    margin: 0;
    padding:50px 500px;
    justify-content:center;
    z-index:99;
}
.nav ul{
list-style: none;
  display: flex;
  flex: 1;
  top: 0;

}
.nav a{
    color: white;
    text-decoration: none;
    border: 1px white solid;
    background:black;
    width: auto;
    text-align: center;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 20px;
}
.nav a:hover{
    color:white;
    background-color: #F51A6C;
}
  
a:visited{
  text-decoration: none;

}

/* Home Page */

#home-page{  
  display: flex;
  flex-wrap: wrap;
  margin:0;
  position: relative;
  justify-content: center;
  text-align: center;
  
}

.info-home-page{
  width:500px;
  font-weight: 300;
  color:white;
  padding: 0 0 60px 0;
}


/*slideshow*/

.gallery-container{
  display:flex;
  width:auto;
  margin:0;

}
.gallery{
  width:33.3%;
  
}
.image1{
  flex:1;
  flex-shrink: .5;
}
.image2{
 flex:1;
}
.image3{
  flex:1;
}


/* OUR STORY */

#about-page{
    position: relative;
    
}

#about-page h1{
    font-family: 'Seymour One', sans-serif;
    font-size: 50px;
    color: #F51A6C;
    text-align: center;

    
}

.two-cols{
  display:flex;
  justify-content: space-around;
  padding:20px 50px;
  align-items: flex-end;

}
.left {
  flex:1;
  
}
.right {
  flex:1;
  
}


/* DRINKS PAGE */

#drinks-page{
    position: relative;
    color:#41CCC0;
    height:fit-content;
    margin: 50px 0 0 0;
    
}
#drinks-page h1{
    font-family: 'Seymour One', sans-serif;
    font-size: 100px;
    color:#41CCC0;
    
}
.drink-container{
 display: flex;
 padding: 0 50px;
}
.slushies{
  flex:1;
  padding: 0 50px;
  
}
.bowls{
  flex:1;
  padding: 0 50px;
  
}
.cocktails-two-col{
  display:flex;
  align-content: flex-end;
  padding: 0 50px;
  
}
.cocktails1{
  flex:1;
  padding: 0 50px;
}
.cocktails2{
  flex:1;
  padding: 0 50px;
}

#zombie{
  border: 1px solid #F51A6C;
  text-align: center;
  
  color: white;
  margin:20px 0;
  padding: 30px;
  border-radius: 30px;
  
}

#flame{
  width:300px;
  height:fit-content;
  position:relative;
  flex:1;
  
  
}

#ocean{
  width:100vw;
  margin:0;
}



/* FOOD PAGE */

#food-page{
  
  position: relative;
  color:yellow;
     
}

#food-page h1{
  font-family: 'Seymour One', sans-serif;
    font-size: 100px;
    color:blue;
    
}
.food-container {
  display: flex;
  justify-content: space-evenly;
  width:1500px;
  margin:auto;
  padding: 0 50px;
  
}
.left-small{
  flex:1;
  padding: 0 30px;
  
}
.right-entrees{
  flex:1;
  padding: 0 30px;
}
.fish-sando{
  min-width: 400px;
}

#lumpia{
  width:700px;
  padding: 0 30px;
}


/*CONTACT*/


#contact{
  display:flex;
  height: 50vh;
  width: 100%;
  margin:40px 0 30px 0;
  background-color: rgb(255, 121, 72);
  color: white;
}

#contact h1{
  font-family: 'Seymour One', sans-serif;
  font-size: 40px;
  color: white;
  text-align: center;
}



#anniv{
  text-align: center;
}
#anniv img{
width:300px;
text-decoration: none;
}

.purchase-link{
  text-decoration: none;
}

#grubhub{
  border: 1px solid black;
  background-color: white;
  border-radius: 30px;
  
}
#grubhub a{
text-decoration: none;
}


/*happy hour marquee*/

marquee{
    font-size: 60px;
    font-family: 'Manrope', sans-serif;
    background-color: #EF5E18;
    color: white;
    position:absolute;
    margin: 0;
    z-index: 10;
    
}




footer{
  position:relative;
  align-items: baseline;
  width: 100%;
  text-align: center;
  margin:0;
  
  
  }

  




/* FOR MOBILE */

@media screen and (max-width: 700px) {
  
  .nav{
    padding: 20px 50px;
    
  }
  .nav a{
    
    font-size: small;
  }
  .nav ul{
    display: flex;
    flex: flex-wrap;
  }
  .two-cols {
    flex-direction: column;
  }
  #lumpia{
    width:400px;
    padding: 20px;
  }
  p{
    width: 90%;
    
  }
}