@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;800&family=Oswald:wght@300;500;700&family=Prompt:ital,wght@0,100;0,500;0,900;1,100;1,500;1,800&family=Quicksand:wght@500;600&family=Seymour+One&display=swap');
/*
font-family: 'Manrope', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Seymour One', sans-serif;
*/
*{box-sizing:border-box;}

html {
  scroll-behavior: smooth;
}

body{
  width:100vw;  
  margin:0;
    font-family: 'Manrope', sans-serif; 
    background-color: black;
    color: white;
}

section{
  height: 100vh;
  margin: 70px 0;
  position:relative;
  
}


h1{
  display:flex;
  justify-content: center;
}
p{
    position: relative;
    max-width: 500px;
    margin:auto;
}

ul{
    text-decoration: none;
    list-style: none;
    
}

img{
  width: 100%;
}

h3{
  font-size:30px;
  margin:0;
}
h4{
  margin:10px 0;
  
}


/* NAV BAR */

.nav{
    display:flex;
    flex: 1;
    margin: 0;
    padding:50px 500px;
    justify-content:center;
    z-index:99;
}
.nav ul{
list-style: none;
  display: flex;
  flex: 1;
  top: 0;

}
.nav a{
    color: white;
    text-decoration: none;
    border: 1px white solid;
    background:black;
    width: auto;
    text-align: center;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 20px;
}
.nav a:hover{
    color:white;
    background-color: #F51A6C;
}
  
a:visited{
  text-decoration: none;

}

/* Home Page */

#home-page{  
  display: flex;
  flex-wrap: wrap;
  margin:0;
  position: relative;
  justify-content: center;
  text-align: center;
  
}

.info-home-page{
  width:500px;
  font-weight: 300;
  color:white;
  padding: 0 0 60px 0;
}


/*slideshow*/

.gallery-container{
  display:flex;
  width:auto;
  margin:0;

}
.gallery{
  width:33.3%;
  
}
.image1{
  flex:1;
  flex-shrink: .5;
}
.image2{
 flex:1;
}
.image3{
  flex:1;
}


/* OUR STORY */

#about-page{
    position: relative;
    
}

#about-page h1{
    font-family: 'Seymour One', sans-serif;
    font-size: 50px;
    color: #F51A6C;
    text-align: center;

    
}
#about-image{
  width:700px;
  height:fit-content;
  position: relative;
  
}
.two-cols{
  display:flex;
  justify-content: center;
  position: relative;
  
}
.left {
  flex:1;
  padding:100px 0 100px 100px;
}
.right {
  flex:1;
  padding:100px 100px 100px0;
  
}


/* DRINKS PAGE */

#drinks-page{
    position: relative;
    color:#41CCC0;
    height:fit-content;
    margin: 80px 0 0 0;
    
}
#drinks-page h1{
    font-family: 'Seymour One', sans-serif;
    font-size: 100px;
    color:#41CCC0;
    padding:50px 0 0 0;
    
}
.drink-container{
 display: flex;
  justify-content: space-between;
  width:100vw;
  margin:0;
  padding: 0 300px;
}
.slushies{
  flex:1;
  
  
}
.bowls{
  flex:1;
  
  
}
#flame{
  width:400px;
}
.cocktails-two-col{
  display: flex;
  justify-content: space-between;
  width:100vw;
  margin:0;
  padding: 0 300px;
  
}
.cocktails1{
  flex:1;
  
}
.cocktails2{
  flex:1;
  
}

#zombie{
  border: 4px dotted #F51A6C;
  text-align: center;
  max-width:300px;
  color: white;
  margin:20px 0;
  padding: 20px;
  border-radius: 30px;
  
}



#ocean{
  width:100vw;
  margin:0;
}



/* FOOD PAGE */

#food-page{
  
  position: relative;
  color:yellow;
     
}

#food-page h1{
  font-family: 'Seymour One', sans-serif;
    font-size: 100px;
    color:blue;
    
}
.food-container {
  display: flex;
  justify-content: space-between;
  width:100vw;
  margin:auto;
  padding: 0 300px;
  
}
.left-small{
  flex:1;

}
.right-entrees{
  flex:1;
  
}
.fish-sando{
  width:400px;
  height:fit-content;
}

#lumpia{
  width: 400px;
  height:fit-content;
}


/*CONTACT*/


#contact{
  height: fit-content;
  width: 100%;
  color: white;
  background-color: darkblue;
  padding:0 0 70px 0;
}

#contact h1{
  font-family: 'Seymour One', sans-serif;
  font-size: 60px;
  color: white;
  text-align: center;
  padding:50px;
}

.contact{
  display:flex;
justify-content: space-around;
width:1700px;
margin:auto;

}
.logo-footer{
  flex:1;
}

.contact-info{
  flex:1;
  
}

#anniv{
  text-align: center;
  flex:1;
  
}
#anniv img{
width:300px;
}

.purchase-link{
  border: 1px solid black;
  background-color: white;
  border-radius: 30px;
  padding:10px 30px;
  text-decoration: none;
  color:#F51A6C;
  font-weight: 700;
  font-size: large;
}

.grubhub{
  border: 1px solid black;
  background-color: white;
  border-radius: 30px;
  padding:10px 30px;
  text-decoration: none;
  color:#F51A6C;
  font-weight: 700;
  font-size: large;
  z-index: 10;
}


/*happy hour marquee*/

marquee{
    font-size: 60px;
    font-family: 'Manrope', sans-serif;
    background-color: #EF5E18;
    color: white;
    position:absolute;
    margin: 0;
    z-index: 10;
    padding:0;
    
}




footer{
  position:relative;
  align-items: baseline;
  width: 100%;
  text-align: center;
  margin:0;
  
  
  }

  




/* FOR MOBILE */

@media screen and (max-width: 700px) {
  

section{
  height: fit-content;
  margin: auto;
  position:relative;
}
.logo{
  width:400px;
}
  .nav{
    padding: 20px 50px;
    
  }
  .nav a{
    
    font-size: small;
  }
  .nav ul{
    display: flex;
    flex: flex-wrap;
  }
 p{
    width: 90%;
    
  }  
  
  /* ABOUT */

  .two-cols {
    flex-direction: column;
    justify-content: center;
  }
#about-image{
  
  width: 400px;
}
.left{
  padding:40px 40px 0 40px;
}
.right{
  padding:10px;
  margin: 30px;
}
.right h1{
  margin:0px 50px 30px 50px;
}
/* DRINKS */

#drinks-page h1{
    font-size: 70px;
    padding:50px 0 0 0;
  }
  .drink-container{
    padding:40px;
    flex-direction: column;

   }
   .slushies{
    width:400px;
    padding:0 50px;
   }
   .bowls{
    width:400px;
  padding:0 50px;
   }
   
   .cocktails-two-col{
    padding:40px;
    flex-direction: column;

   }
.cocktails1{
  width:400px;
  padding:0 50px;
  } 
.cocktails2{
  width:400px;
  padding:0 50px;
}

/* FOOD */

#food-page h1{
    font-size: 70px;
    padding:50px 0 0 0;
    margin:0;
  }
.food-container{
  padding:40px;
    flex-direction: column;
    
   }
.left-small{
  width:400px;
  padding:0 50px;
    
   }
.right-entrees{
  width:400px;
  padding:0 50px;
}
#lumpia{
    width:400px;
    padding: 20px;
  }
}
.fish-sando{
  width:400px;
    padding: 20px;
}
#contact{
  width: 100%;
  margin:auto;
  
}
.contact{

flex-direction: column;
width: 400px;
margin:auto;


}