@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;800&family=Oswald:wght@300;500;700&family=Prompt:ital,wght@0,100;0,500;0,900;1,100;1,500;1,800&family=Quicksand:wght@500;600&family=Seymour+One&display=swap');
/*
font-family: 'Manrope', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Seymour One', sans-serif;
*/
*{box-sizing:border-box;}

html {
  scroll-behavior: smooth;
}

body{
    margin:0;
    font-family: 'Manrope', sans-serif; 
}

/* NAV BAR */
.nav{
    display:flex;
    flex: 1;
    margin: 0;
    padding: 3% 20% 2%;
    justify-content:space-between;
    z-index:99;
}

.nav ul{
    
list-style: none;
  display: flex;
  flex: 1;
  top: 0;
  position: fixed;
z-index:99;

}
.nav a{
    color: black;
    text-decoration: none;
    background:white;
    width: auto;
    text-align: center;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 20px;
   
    
}
.nav a:hover{
    color:white;
    background-color: #F51A6C;
}
  





/* Home Page */

.home-page{  
  width: 100%;
  margin:0;
  position: relative;
  background-color: #0000ff;

}
.main-logo-big{
  display:flex;
  width: 30%;
  margin: auto;
  z-index: 97;
  
}
.info-home-page{
  display: flex;
  justify-content: center;
  margin:0;
  text-align: center;
  font-weight: 300;
  z-index: 98;
  
  position: relative;
  color:white;
}

.gallery-container{
  display:flex;
  width:auto;
  margin:0;

}
.gallery{
  width:33.3%;
  
}
.image1{
  flex:1;
  flex-shrink: .5;
}
.image2{
 flex:1;
}
.image3{
  flex:1;
}


/* OUR STORY */

.about-page{
    display:flex;
    height: 100vh;
    position: relative;
    margin: 0 20%;
    
}

.about-title{
    font-family: 'Seymour One', sans-serif;
    font-size: 40px;
    color: #F51A6C;
    position: relative;
}

.about-page-div{
  flex: 1;
  
}



/* DRINKS PAGE */

.drinks-page{
    height: 100vh;
    position: relative;
    margin: 0 20%;
    color: #F51A6C;
}
.drinks-title{
    font-family: 'Seymour One', sans-serif;
    font-size: 40px;
    color:#41CCC0;
    
}

/* FOOD PAGE */

.food-page{
    height: 100vh;
    position: relative;
    margin: 0 20%;
    color:blue;
    
}
.food-title{
    font-family: 'Seymour One', sans-serif;
    font-size: 40px;
    color:blue;
    
}

h4{
  padding:0;
}
p{
    position: relative;
    max-width: 60%;
    margin:auto;

}

ul{
    text-decoration: none;
    list-style: none;
    
}

.slushies{
    color:#EF5E18;
}
.small-plates{

}

/*happy hour*/

.happy-hour{
    font-size: 60px;
    font-family: 'Manrope', sans-serif;
    background-color: #EF5E18;
    color: white;
    position:absolute;
    margin: 0;
    padding: 20px;
    width: 100%;
    
}

/*
body {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 144px;
  font-weight: bold;
}

.marquee {
  position: relative;
  width: 400vw;

max-width: 400%;
height: 200px;
overflow-x: hidden;
}

.track {
position: absolute;
white-space: nowrap;
will-change: transform;
animation: marquee 9s linear infinite;
animation-fill-mode:forwards;
}

@keyframes marquee {
from { transform: translateX(-100%); }
to { transform: translateX(100%); }
}
*/

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


/*images*/

.fish-sando{
  max-width: 400px;
}