@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;800&family=Oswald:wght@300;500;700&family=Prompt:ital,wght@0,100;0,500;0,900;1,100;1,500;1,800&family=Quicksand:wght@500;600&family=Seymour+One&display=swap');
/*
font-family: 'Manrope', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Seymour One', sans-serif;
*/
*{box-sizing:border-box;}
html {
  scroll-behavior: smooth;
}

body{
    margin:0;
    font-family: 'Manrope', sans-serif; background-image: url('images/halftone-bg\ copy.png');
    background-size: cover;
    height: 100vh;
}

.home-page header{
    margin: 0;
}
.main-logo-big{
    display: block;
    background-color: white;
    margin: 0% 25%;
    width: 50%;
    position: absolute;
    z-index: 99;
}

.info-home-page{
    display: flex;
    flex:1;
    margin: 40% 33%;
    text-align: center;
    position: absolute;
    z-index: 99;
    color:rgb(187, 168, 246);
}
.about-page{
    height: 100vh;

}
.about-title{
    font-family: 'Seymour One', sans-serif;
    color: #F51A6C;
}
.drinks-page{
    height: 100vh;
}
.drinks-title{
    font-family: 'Seymour One', sans-serif;
    color:#41CCC0;
}
.food-page{
    height: 100vh;
}
.food-title{
    font-family: 'Seymour One', sans-serif;
    
}
nav a{
    color: black;
    text-decoration: none;
    
}
nav a:hover{
    color:darkorange;
    
}
nav a:visited{
    text-decoration: none;
    
}
nav{
    display:flex;
    flex: 1;
    margin: 0;
    padding: 3% 20% 2%;
    justify-content:space-between;
    position:sticky;
    font-size: 20px;
    background: white;
    z-index:99;
}
nav ul{
    list-style: none;
    font-size:30px;
    margin:0;
    

}

section{
    margin: 2% 20%;
}

p{
    position: relative;
    
}

.container div{
    position: relative;
    width: auto;
    margin:0;
}