@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;800&family=Oswald:wght@300;500;700&family=Prompt:ital,wght@0,100;0,500;0,900;1,100;1,500;1,800&family=Quicksand:wght@500;600&family=Seymour+One&display=swap');
/*
font-family: 'Manrope', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Seymour One', sans-serif;
*/
*{box-sizing:border-box;}

html {
  scroll-behavior: smooth;
}

body{
    margin:0;
    font-family: 'Manrope', sans-serif; 
    background-color: black;
}

section{
  width: 100vw;
  margin: 0;
  
}

h1{
  display:flex;
  justify-content: center;
}
p{
    position: relative;
    width: 500px;
    margin:auto;
    

}

ul{
    text-decoration: none;
    list-style: none;
    
}
img{
  width: 500px;
}

/* NAV BAR */

.nav{
    display:flex;
    flex: 1;
    margin: 0;
    padding:50px 500px;
    justify-content:center;
    z-index:99;
}
.nav ul{
list-style: none;
  display: flex;
  flex: 1;
  top: 0;

}
.nav a{
    color: white;
    text-decoration: none;
    border: 1px white solid;
    background:black;
    width: auto;
    text-align: center;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 20px;
}
.nav a:hover{
    color:white;
    background-color: #F51A6C;
}
  

/* Home Page */

.home-page{  
  display: flex;
  flex-wrap: wrap;
  margin:0;
  position: relative;
  justify-content: center;
  text-align: center;
  

}

.info-home-page{
  width:500px;
  font-weight: 300;
  color:white;
  padding: 0 0 60px 0;
}


/*slideshow*/

.gallery-container{
  display:flex;
  width:auto;
  margin:0;

}
.gallery{
  width:33.3%;
  
}
.image1{
  flex:1;
  flex-shrink: .5;
}
.image2{
 flex:1;
}
.image3{
  flex:1;
}


/* OUR STORY */

#about-page{
    
    position: relative;
    background-color: rgb(255, 221, 0);
   
    
}

#about-page h1{
    font-family: 'Seymour One', sans-serif;
    font-size: 40px;
    color: #F51A6C;

    
}

.two-cols{
  display:flex;
  justify-content: space-around;
  padding:20px 50px;
  align-items: center;

}
.left {
  flex:1;
  
}
.right {
  flex:1;
  
}


/* DRINKS PAGE */

#drinks-page{
    position: relative;
    color: #F51A6C;
    
    
}
#drinks-page h1{
    font-family: 'Seymour One', sans-serif;
    font-size: 100px;
    color:#41CCC0;
    
}
.drink-container{
  display: flex;
  justify-content: center;
  width:1500px;
  margin:auto;
}

.slushies{
  flex:1;
}
.cocktails{
  flex:1;
}
#flame{
  width:500px;
  height:fit-content;
}

#ocean{
  width:100vw;
  margin:0;
}



/* FOOD PAGE */

#food-page{
    position: relative;
    color:yellow;
    
    
}
#food-page h1{
  font-family: 'Seymour One', sans-serif;
    font-size: 100px;
    margin:200px 0 100px 0; 
    color:blue;
    
}
.food-container {
  display: flex;
  justify-content: center;
  width:1500px;
  margin:auto;
  
}
.left-small{
  flex:1;
  
}
.right-entrees{
  flex:1;
}


/*CONTACT*/


#contact{
  display:flex;
  height: 50vh;
}


/*happy hour*/

.happy-hour{
    font-size: 60px;
    font-family: 'Manrope', sans-serif;
    background-color: #EF5E18;
    color: white;
    position:absolute;
    
    padding: 0;
    width: 100%;
    
}


/*images*/

.fish-sando{
  min-width: 400px;
}

#lumpia{
  width:700px;
  padding: 0 30px;
}

footer{
  position:relative;
  align-items: baseline;
  width: 100%;
  text-align: center;
  margin:0;
  padding:50px;
  background-color: orangered;
  color: whitesmoke;
  
  }

/* FOR MOBILE */

@media screen and (max-width: 700px) {
  
  .nav{
    padding: 20px 50px;
    
  }
  .nav a{
    
    font-size: small;
  }
  .nav ul{
    display: flex;
    flex: flex-wrap;
  }
  .two-cols {
    flex-direction: column;
  }
  #lumpia{
    width:400px;
    padding: 20px;
  }
  p{
    width: 90%;
    
  }
}