@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;800&family=Oswald:wght@300;500;700&family=Prompt:ital,wght@0,100;0,500;0,900;1,100;1,500;1,800&family=Quicksand:wght@500;600&family=Seymour+One&display=swap');
/*
font-family: 'Manrope', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Seymour One', sans-serif;
*/
*{box-sizing:border-box;}


html {
  scroll-behavior: smooth;
}

body{
  width:100vw;  
  margin:0;
    font-family: 'Manrope', sans-serif; 
    background-color: black;
    color: white;
}

section{
  width: 100vw;
  margin:0;
  padding-bottom:100px;
  
}


h1{
  display:flex;
  justify-content: center;
}
p{
    width: 450px;
   
}

ul{
    text-decoration: none;
    list-style: none;
    
}

img{
  width: 100%;
}

h3{
  font-size:30px;
  margin:0;
  
  
}
h4{
  position: relative;
    max-width: 400px;
    margin:22px 0 7px 0;     
font-size: 20px;
  
}


/* NAV BAR */

.nav{
  position: fixed;
    display:flex;
    margin: 0;
    padding:30px;
    z-index: 10;
    width:100%;
    justify-content:center;
    background-color: black;
}
.nav ul{
list-style: none;
  display: flex;
  flex: 1;
  top: 0;

}
.nav a{
    color: white;
    text-decoration: none;
    border: 1px white solid;
    background:black;
    width: auto;
    text-align: center;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 20px;
}
.nav a:hover{
    color:white;
    background-color: #F51A6C;
}
  
a:visited{
  text-decoration: none;

}

/* Home Page */

#home-page{  
  display: flex;
  margin:0;
  position: relative;
  justify-content: center;
  text-align: center;
  
}

#happy-hour{
  width:300px;
  height:200px;
  position: absolute;
  z-index: 10;
  top: 400px;
  left: 300px;
  transform: rotate(-25deg);

}

.home-hours{
  top:100px;
  position:relative;
  width:500px;
  font-weight: 300;
  color:white;
  padding: 90px 0 60px 0;
}
.logo{
  position: relative;
  top: 150px;
  width: 100%;
  width:500px;
    display:flex;
    z-index: 10;
    justify-content:center;
    text-align: center;
}

.gallery{
  display:flex;
  flex-wrap:wrap;
  width:100%;
  overflow: hidden;
  margin-top:50px;
  position:relative;
}
.image1{
  flex:1;

}
.image2{
  flex:1;
}
.image3{
  flex:1;
}

/* OUR STORY */

#about-page{
  position: relative;
  width:100vw;
  margin: 100px 0;
  
}

.right h1{
    font-family: 'Seymour One', sans-serif;
    font-size: 60px;
    color: #F51A6C;
 
}

.two-cols{
  display: flex;
  width:100vw;
  margin:100px 50px;
  justify-content: space-around;
  padding-top:100px;
  
}
.left{
  width:900px;
}

.right {
  margin:0 300px ;
  justify-content: center;
 
}



/* DRINKS PAGE */

#drinks-page{
    position: relative;
    width:100vw;
    margin: 100px 0 0 0;
    
}
#drinks-page h1{
    font-family: 'Seymour One', sans-serif;
    font-size: 100px;
    color:#41CCC0;
    padding:100px 0 0 0;
    
}
.drink-container{
 display: flex;
  width:100vw;
  margin:0;
  padding: 0 500px;
}
.slushies{
  flex:1;
  

}
.bowls{
  flex:1;
  
  
}
#flame{
  width:400px;
  position: absolute;
}
.cocktails-two-col{
  display: flex;
  width:100vw;
  margin:60px 0 0 0;
  padding: 0 500px;
  
}
.cocktails1{
  flex:1;
  
  
}
.cocktails2{
  flex:1;
  
}

#zombie{
  border: 4px dotted #F51A6C;
  text-align: center;
  max-width:300px;
  color: white;
  margin:20px 0;
  padding: 20px;
  border-radius: 30px;
  
}



#ocean{
  width:100vw;
  margin:0;
}



/* FOOD PAGE */

#food-page{
  position: relative;
  margin: 100px 0 0 0;  
}

#food-page h1{
  font-family: 'Seymour One', sans-serif;
    font-size: 100px;
    color:#F51A6C;
    padding-top: 100px;
    
}
.food-container {
  display: flex;
  margin:0;
  padding: 0 500px;

  
}
.left-small{
  flex:1;

}
.right-entrees{
  flex:1;
  
}
.fish-sando{
  width:600px;
  height:fit-content;
  padding-top: 50px;
}

#lumpia{
  width: 400px;
  height:fit-content;
  padding-top: 50px;
}


/*CONTACT*/


#contact-page{
  position: relative;
  height: auto;
  width: 100%;
  color: white;
  background-color: darkblue;
 
}

#contact-page h1{
  font-family: 'Seymour One', sans-serif;
  font-size: 60px;
  color: white;
  text-align: center;
  padding:50px;
}

#grubhub{
  position: relative;
  justify-content: center;
}

.contact{
display:flex;
justify-content: space-evenly;
margin:0 200px;

}
.logo-footer{
  flex:1;
}

.hours-etc{
  flex:1;
  
}

#anniv{
  text-align: center;
  flex:1;
  
}


.purchase-link{
  border: 1px solid black;
  background-color: white;
  border-radius: 30px;
  padding:10px 30px;
  text-decoration: none;
  color:#F51A6C;
  font-weight: 700;
  font-size: large;
  z-index: 12;
}

.grubhub{
  border: 1px solid black;
  background-color: white;
  border-radius: 30px;
  padding:10px 30px;
  text-decoration: none;
  color:#F51A6C;
  font-weight: 700;
  font-size: large;
  z-index: 10;
}


/*happy hour marquee*/

marquee{
    font-size: 60px;
    font-family: 'Manrope', sans-serif;
    background-color: #EF5E18;
    color: white;
    position:absolute;
    margin: 0;
    padding:0;
    
}




footer{
  position:absolute;
 bottom:50px;
  width: 100%;
  text-align: center;
  margin:0;
  
  
  }

  


/*FOR LAPTOP*/

@media screen and (max-width: 2500px) {

}




/* FOR MOBILE */

@media screen and (max-width: 700px) {
  
p{
  width:300px;
}

h1{
  font-size: 40px;
}

section{
  height: fit-content;
  margin: 0;
  width:400px;
  padding:100px 0;
  display:flex;
  flex-direction: column;
  justify-content: center;
  
}

.gallery{
  display:flex;
  flex-direction:column;
  width:100%;
  overflow: hidden;
  margin-top:100px;
  position:relative;
}
.image1{
  display:none;
}
.image3{
  display:none;
}
.logo{
  position: relative;
  width: 400px;
  margin:0 50px;
    display:flex;
    z-index: 10;
    justify-content:center;
    text-align: center;
}
#happy-hour{
    width:200px;
    height:100px;
    position: absolute;
    top:100px;
    left:60px;
}
.home-hours{
  top:100px;
  position:relative;
  width:500px;
  font-weight: 300;
  color:white;
  padding: 90px 0 60px 0;
}
  .nav{
    padding: 20px 50px;
    
  }
  .nav a{
    font-size: small;
  }
  .nav ul{
    display: flex;
    flex: flex-wrap;
  }
  
  /* ABOUT */

.two-cols {
  flex-direction: column;
  padding: 20px 50px;
}
#about-image{
  width: 300px;
}
.left{
  margin:0;
}
.right{
  margin:0;
  
}


/* DRINKS */

#drinks-page h1{
    font-size: 70px;
    padding:50px 0 0 0;
  }
  .drink-container{
    padding:40px;
    flex-direction: column;

   }
   .slushies{
    width:400px;
    padding:0 50px;
   }
   .bowls{
    width:400px;
  padding:0 50px;
   }
   
   .cocktails-two-col{
    padding:40px;
    flex-direction: column;

   }
.cocktails1{
  width:400px;
  padding:0 50px;
  } 
.cocktails2{
  width:400px;
  padding:0 50px;
}

/* FOOD */

#food-page h1{
    font-size: 70px;
    padding:50px 0 0 0;
    margin:0;
  }
.food-container{
  padding:40px;
    flex-direction: column;
    margin:0;
  
    
   }
.left-small{
  width:400px;
  padding:0 50px;
    
   }
.right-entrees{
  width:400px;
  padding:0 50px;
}
#lumpia{
    width:400px;
    padding: 20px;
    align-items: center;
  }

.fish-sando{
  width:400px;
    padding: 20px;
    align-items: center;
}
#contact{
  width: 100vw;
  height: fit-content;
  margin:0;
  padding:50px;
  
}
.contact{
flex-direction: column;
width: 300px;
margin-bottom: 50px;
}
.purchase-link a{
z-index: 12;
}
}