
  @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Oswald:wght@300;500;700&family=Quicksand:wght@500;600&display=swap');



/* font-family: 'EB Garamond', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Quicksand', sans-serif; */

*{box-sizing}


body {
margin: 0;
font-family: 'Quicksand', sans-serif;
background-color:white;
    height:auto;
    width:100%;
}

nav {
  display:flex;
  flex: 1;
  margin: 0;
  justify-content:flex-end;
 
}
nav ul {
  list-style: none;
  display: flex;
  flex: 1;
  top: 0;
  position: fixed;


}
nav li {
  text-align: center;
  width: auto;
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 30px; 
  background:white;
  
}
nav a {
  color: rgb(45, 155, 206);
  text-decoration:none;
  font-size: larger;
}
nav li:hover {
  background-color:hotpink;
  
}
nav a:hover {
  color:white;
}

.button{
  background-color:#333;
  color: #fff;
  padding: 10px 15px;
  border: 10px pink solid;

}
.button:hover{
  background-color: coral;
  color: white;
}
header {
  width:100vw;
  height: 100vh;
  margin:0;
  background-color:coral;
  background-size: cover;
  background-repeat: no-repeat;
}

header h1 {
   
  font-family: 'Oswald', sans-serif;
  color: white;
  position: absolute;
  letter-spacing: -30px;
  font-size: 470px;
  margin:50px 50px;
  
  
}
header h2{

 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 60px;
  color: #fff;
  position: absolute;
  margin: 150px 100px;
  
}

main {
   
    width: 100%;
    background-color:#fff;
    
}

section{
  height:100vh;
}
.reggaeton{
  background-color:blue;
}

.artist1, .artist2, .artist3 {
    width:300px;
    height:300px;
    border-radius: 50%;
    position: relative;
    justify-content: center;

    
}
.artist1 {
    
    top:110px;
    left:80px;
    background:rgb(251, 98, 172);
}
.artist1-content {
   
    top:420px;
    left:90px;
    width:200px;
    opacity:0;
}
.artist2 {
    
    top:200px;
    left:880px;
    background:rgb(118, 98, 251);
}
.artist2-content {
  
  top:420px;
  left:880px;
  width:200px;
  opacity:0;
}
.artist3 {
    
    top:400px;
    left:480px;
    background:rgb(241, 251, 98);
}
.artist3-content {
  
  top:520px;
  left:580px;
  width:200px;
  opacity:0;
}
.show {
    opacity:1;
}
footer {
  margin:auto;
  width: 500px;
  position:absolute;
    justify-content: baseline;
        bottom: 0;
        color:white;
        padding: 10px 50px;
        text-align: center;
        border-radius: 50%;
        border: 1px solid white;
        

}

