@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Alegreya+Sans+SC:wght@700&family=Bebas+Neue&display=swap');
/* 
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Alegreya Sans SC', sans-serif;
*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
font-family: 'Alegreya Sans', sans-serif;
}

img {
  width: 100%;
}
header {
  height: 100vh;
  background-image: url('images/home-bg.png');
  background-size: cover;
  margin:0
}


h1 {
  margin: 0;
  justify-content: center;
  font-family:'Bebas Neue';
  font-size:500px;
  color: white;
}

h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
    font-weight:700;
    color: white;
    margin:0
}
section {
    background:white;
    height:100vh;
    width:100vw;
    position:relative;
}

nav {
  display: block;
  flex: 75%;
  
}
nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 20px 10px 20px 900px;
    background:white;
}
nav li {
  text-align: center;
  width: 100%;
  padding: 16px;
    border-right:1px solid black;
}
nav a {
  color: rgb(126, 78, 87);
  text-decoration: none;
}
nav a:hover {
  color:hotpink;
  
}
.headers {
    padding:80px;
}
.parent {
  display: flex;
  width: 80%;
  margin: auto;
}
.parent div {
  flex: 1;
}
.parent .right {
  padding-left: 40px;
}
.parent .left {
  padding-right: 40px;
}
.two-col-content {
  display: flex;
}
.two-col-content div {
  flex: 1;
}
.two-col-content img {
  padding: 10px;
}

.artist1, .artist2, .artist3 {
    width:300px;
    height:300px;
    border-radius: 50%;
    background:rgb(251, 98, 172);
}
.artist1 {
    position:absolute;
    top:20px;
    left:80px;
}
.artist1-content {
    position:absolute;
    top:420px;
    left:80px;
    width:200px;
    opacity:0;
}
.artist2 {
    position:absolute;
    top:280px;
    right:280px;
}
.artist1-content {
  position:absolute;
  top:420px;
  left:80px;
  width:200px;
  opacity:0;
}
.artist3 {
    position:absolute;
    top:600px;
    left:580px;
}
.artist1-content {
  position:absolute;
  top:420px;
  left:80px;
  width:200px;
  opacity:0;
}
.show {
    opacity:1;
}
footer {
  background-color: azure;
  padding: 50px 0;
  text-align: center;
}
footer div {
  width: 100%;
  margin: auto;
  color: white;
}

