@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Alegreya+Sans+SC:wght@700&family=Bebas+Neue&display=swap');
/* 
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Alegreya Sans SC', sans-serif;
*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
  width:100%;
  height: 100vh;
  margin:0;
  position: relative;
}
        #homepage{
          background-image: url('images/home-bg.png');
          
        }
        #reggaeton{
          background-image: url('images/regeatton-bg.png');
          
        }
        #oldies{
          background-image: url('images/oldies-bg.png');
          
        }
        #pop{
          background-image: url('images/pop-bg.png');
          
        }
        #indie{
          background-image: url('images/indeie-bg.png');
          
        }

h1 {
  font-family:'Bebas Neue';
  color: white;
  position: absolute;

  
}
      #reggaeton h1{
        width:auto;
        font-size:400px;
        
        margin: 300px 20px 0px 20px
      }
      #indie h1{
        width:auto;
        font-size:700px;
      
        margin: auto;
      }
      #oldies h1{
        width:auto;
        font-size:400px;
        
        margin: 300px 20px 0px 20px
      }
      #pop h1{
        width:auto;
        font-size:400px;
        
        margin: 300px 20px 0px 20px
      }

section {
    background-color:white;
    height:100vh;
    width:100%;
    
}

nav {
  position: fixed;
  display:flex;
  flex: 55%;
  padding: 20px;
  margin:0px;
  
  
}
nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 20px 10px 20px 900px;
  
}
nav li {
  text-align: center;
  width: auto;
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 30px; 
  background:white;
  
    
}
nav a {
  color: rgb(45, 155, 206);
  text-decoration:none;
  font-size: larger;
 
  
}
nav a:hover {
  color:hotpink;
  
}

.parent {
  display: flex;
  width: 80%;
  margin: auto;
}
.parent div {
  flex: 1;
}
.parent .right {
  padding-left: 40px;
}
.parent .left {
  padding-right: 40px;
}
.two-col-content {
  display: flex;
}
.two-col-content div {
  flex: 1;
}
.two-col-content img {
  padding: 10px;
}

.artist1, .artist2, .artist3 {
    width:300px;
    height:300px;
    border-radius: 50%;
    
}
.artist1 {
    position:absolute;
    top:110px;
    left:80px;
    background:rgb(251, 98, 172);
}
.artist1-content {
    position:absolute;
    top:420px;
    left:90px;
    width:200px;
    opacity:0;
}
.artist2 {
    position:absolute;
    top:200px;
    left:880px;
    background:rgb(118, 98, 251);
}
.artist2-content {
  position:absolute;
  top:420px;
  left:880px;
  width:200px;
  opacity:0;
}
.artist3 {
    position:absolute;
    top:500px;
    left:580px;
    background:rgb(241, 251, 98);
}
.artist3-content {
  position:absolute;
  top:620px;
  left:580px;
  width:200px;
  opacity:0;
}
.show {
    opacity:1;
}
footer {
    position:static;
    justify-content: baseline;
        bottom: 0;
        left: 0;
        right: 0;
        color:hotpink;
        padding: 10px 100px;
        text-align: center;
        background-color: white;

}

