

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&family=Quicksand:wght@500;600&display=swap');




/* font-family: 'Oswald', sans-serif;
font-family: 'Quicksand', sans-serif; */

*{box-sizing}


body {
margin:0;
color:white;
font-family: 'Quicksand', sans-serif;
}

nav {
  display:flex;
  flex: 1;
  margin: 0px 40px;
  justify-content:flex-end;
 
}
nav ul {
  list-style: none;
  display: flex;
  flex: 1;
  top: 0;
  position: fixed;


}
nav li {
  text-align: center;
  width: auto;
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 30px; 
  background:white;
  
}
nav a {
  color: rgb(45, 155, 206);
  text-decoration:none;
  font-size: larger;
}
nav li:hover {
  background-color:blue;

}
nav a:hover {
  color:white;
}

.star{
  width:80px;
  margin:10px 30px;
  position: fixed;
}
.star:hover{
  /*jiggle*/
}
header {
  width:100vw;
  height: 100vh;
  margin:0;
  background-color:coral;
  background-size: cover;
  background-repeat: no-repeat;
}

header h1 {
   
  font-family: 'Oswald', sans-serif;
  color: white;
  position: absolute;
  letter-spacing: -30px;
  font-size: 470px;
  margin:50px 50px;
  
  
}
header h2{

 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 60px;
  color: #fff;
  position: absolute;
  margin: 150px 100px;
  
}
h3{
  font-family: 'Oswald', sans-serif;
  font-size: larger;
  margin:0;
  
}
p{
  font-size: medium;
}

section{
  height:150vh;
  
}
      .reggaeton{
        background-color:blue;
      }
      .oldies{
        background-color:rgb(241, 251, 98);
      }
      .pop{
        background-color:rgb(251, 98, 172);
      }
      .indie{
        background-color:gold;
      }

.artist1, .artist2, .artist3 {
    width:300px;
    height:300px;
    border-radius: 50%;
    position: relative;
    justify-content: space-between;
    display: flex;
   
     
}

.artist1 {
    
    background:rgb(251, 98, 172);
}
.j-balvin-content {
    margin:10px 80px;
    width:300px;
    opacity:0;
}
.artist2 {
    
  
    background:rgb(118, 98, 251);
}
.artist2-content {
  
  top:420px;
  left:880px;
  width:200px;
  opacity:0;
}
.artist3 {
    
    background:rgb(241, 251, 98);
}
.artist3-content {
  
  top:520px;
  left:580px;
  width:200px;
  opacity:0;
}
.show {
    opacity:1;
}
footer {
  margin:auto;
  width: 500px;
  position:absolute;
    justify-content: baseline;
        bottom: 0;
        color:white;
        padding: 10px 50px;
        text-align: center;
        border-radius: 50%;
        border: 1px solid white;
        

}

