@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    border: 50px solid rgb(0, 102, 255);
    height: 150vh;
    margin: 0;
}
header {

    color:hotpink;
    font-size: larger;
    border: 10px solid hotpink;
    text-align: left;
    
}

aside {
    font-size: medium;
    color: hotpink;
}

section {
    color:hotpink;
    margin: 50px;
}
 
div {
    margin:20px ;
    display: inline-block;
    border: 30px solid coral;
    padding: 20px;

  }
footer {
    text-align: center;
    bottom: 0;
    position:fixed;
    width: 100%;
    margin-bottom: 20px;
}

main {
    position:static;
    display: inline-block;
    padding: 10px;
    margin-inline-start: 40px;
    
}