@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    height: auto;
    margin: 0;
}
header {

    color:hotpink;
    font-size: larger;
    border: 50px solid hotpink;
    text-align: center;
    
}

section {
    color:hotpink;
    margin: 50px;
}
 
.box {
    margin:20px ;
    display: inline-block;
    border: 30px solid coral;
    padding: 20px;
    position:relative

  }
.blogpost{
    margin: 10px;
    display: inline-block;

}
footer {
    text-align: center;
    bottom: 0;
    position:fixed;
    width: 100%;
    margin-bottom: 20px;
}

main {
    position:static;
    display: inline-block;
    padding: 10px;
    margin-inline-start: 40px;
    
}

  article {
    display: inline-block;
  }
    
  a {
    display: block;
  }
  img {
    width: 50%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
  }